<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <title>PokemonScanner OCR</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css')}}"
    />
  </head>
  <body>
    <div class="container">
      <div class="subcontainer">
      <h1>Poké Scanner</h1>
      <h2>Upload Your Picture</h2>
        <form method="post" enctype="multipart/form-data">
          <input type="file" name="fileToUpload" id="fileToUpload" />
          <input type="submit" value="Upload Image" name="submit" />
        </form>
      </div>
      <!-- <a class="btn btn-border-w btn-round" href="visualization.html"></a> -->
    </div>
  </body>
</html>
