<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--  
    Document Title
    =============================================
    -->
    <title>Pokemon OCR and price tag</title>
   
   <!-- Main stylesheet and color file-->
    <link href="{{ url_for('static', filename='assets/css/style.css')}}" rel="stylesheet">
    <link id="color-scheme" href="{{ url_for('static', filename='assets/css/colors/default.css')}}" rel="stylesheet">
  </head>
  <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
      <div class="page-loader">
        <div class="loader">Loading...</div>
      </div>

      <br>
      <form method="post" enctype="multipart/form-data">
          Select image to upload:
          <input type="file" name="fileToUpload" id="fileToUpload">
          <input type="submit" value="Upload Image" name="submit">
      </form>

      <section class="home-section home-parallax home-fade home-full-height bg-dark bg-dark-30" id="home" data-background="{{ url_for('static', filename='assets/images/giga_pika_eevee.png')}}"></section>
        <div class="titan-caption">
          <div class="caption-content">
            <div class="font-alt mb-20 titan-title-size-3">Pokemon Scanner</div>
            <div class="font-alt">upload your picture <br/>.
            </div>
            <div class="font-alt mt-30"><a class="btn btn-border-w btn-round" href="visualization.html">click here</a></div>
          </div>
        </div>
      </section>
    </main>
    
    <!--  
    JavaScripts
    =============================================
    -->
    <script src = "{{ url_for('static', filename='assets/lib/jquery/dist/jquery.js')}}"></script>
    <script src = "{{ url_for('static', filename='assets/lib/wow/dist/wow.js')}}"></script>
    <script src = "{{ url_for('static', filename='assets/js/main.js')}}"></script>
  </body>
</html>